/* 
Some custom additional CSS
*/
@media only screen and (min-width: 1701px){
    .team .description .h4-row {
        margin-top: 20%;
    }}
@media only screen and (max-width: 1700px) and (min-width: 993px){
.team .description .h4-row {
    margin-top: 15%;
}}
@media only screen and (max-width: 1100px) and (min-width: 993px){
.team .description .h4-row h4{
    font-size:28px;
    line-height:30px;
}}
@media only screen and (max-width: 992px) and (min-width: 769px){
.team .description .h4-row {
    margin-top: 20%;
}}
@media only screen and (max-width: 768px) and (min-width: 601px){
.team .description .h4-row {
    margin-top: 15%;
}}
.tech{
margin-bottom: 0 !important;
}
.tech img{
height:100px;
width:auto;
margin-bottom: 20px;
}
.modal-content p {
    font-size:16px !important;
}
.team .description .h4-row {
    padding-right: 30px;
    padding-left: 30px;
}
.tech img {
    margin-left: auto;
    margin-right: auto;
}
.waves-effect.waves-secondary-color .waves-ripple, h2:after {
    background-color: #6FC5D6;
}
nav .table-of-contents a.active {
    border-bottom: 4px solid #6FC5D6;
}